body,
.start {
    background-color: #40407c;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: lavender;
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

input {
    font-size: 25px;
    background-image: linear-gradient(to top, rgba(156, 171, 240, 0), rgba(100, 100, 199, 1));
    padding: 5px;
}

button {
    background-color: #a72a77;
    color: lavender;
    border: none;
    padding: 15px 32px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    border: 4px solid #9c0964;
    cursor: pointer;
    box-shadow: 0 9px #010165;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

/*when the button is *being* pushed and *after* being pushed*/
button:active,
.onnit,
.submition {
    background-color: #05c078;
    box-shadow: 0 5px #010165;
    transform: translateY(4px);
    border-color: #05c078
}

#hardButton:hover {
    color: #40407c;
}

button:hover {
    border: 4px solid inherit;
}

.submition {
    background-color: #0560c0;
    transform: translateY(0px);
}

.hide {
    display: none;
}

.welcome {
    height: 200px;
}

.box {
    font-size: 55px;
    padding: 30px;
    background-size: 220px;
    background-color: #9c0964
}

.box {
    background-color: #40407c
}